<section class="gallery">
    <div class="container">
        <h2 class="gallery-title">Jewelry Showcase</h2>
        <p class="gallery-text">Discover the beauty of our handcrafted jewelry in style.</p>

    
        <ul class="gallery-list">
            
            <li class="gallery-item">
                <div class="gallery-thumb">
                    <picture>
                        <source srcset="/img/placeholder1@1.webp 1x, /img/placeholder1@2.webp 2x" media="(min-width: 1200px)">
                        <source srcset="/img/placeholder1tab@1.webp 1x, /img/placeholder1tab@2.webp 2x" media="(min-width: 768px)">
                        <img class="gallery-image" src="/img/placeholder1mob@1.webp" alt="Photo description 1" loading="lazy">
                    </picture>
                </div>
            </li>

            
            <li class="gallery-item">
                <div class="gallery-thumb">
                    <picture>
                        <source srcset="/img/placeholder2@1.webp 1x, /img/placeholder2@2.webp 2x" media="(min-width: 1200px)">
                        <source srcset="/img/placeholder2tab@1.webp 1x, /img/placeholder2tab@2.webp 2x" media="(min-width: 768px)">
                        <img class="gallery-image" src="/img/placeholder2mob@1.webp" alt="Photo description 2" loading="lazy">
                    </picture>
                </div>
            </li>

            
            <li class="gallery-item">
                <div class="gallery-thumb">
                    <picture>
                        <source srcset="/img/placeholder3@1.webp 1x, /img/placeholder3@2.webp 2x" media="(min-width: 1200px)">
                        <source srcset="/img/placeholder3tab@1.webp 1x, /img/placeholder3tab@2.webp 2x" media="(min-width: 768px)">
                        <img class="gallery-image" src="/img/placeholder3mob@1.webp" alt="Photo description 3" loading="lazy">
                    </picture>
                </div>
            </li>

           
            <li class="gallery-item">
                <div class="gallery-thumb">
                    <picture>
                        <source srcset="/img/placeholder4@1.webp 1x, /img/placeholder4@2.webp 2x" media="(min-width: 1200px)">
                        <source srcset="/img/placeholder4tab@1.webp 1x, /img/placeholder4tab@2.webp 2x" media="(min-width: 768px)">
                        <img class="gallery-image" src="/img/placeholder4mob@1.webp" alt="Photo description 4" loading="lazy">
                    </picture>
                </div>
            </li>
        </ul>
    </div>
</section>